<div style="float: right; width: 250px;">
    <form method="get">

        <div class="input-group">
            <!-- 下拉框 -->
            <span class="input-group-btn">
                <select name="search_key" class="btn btn-default">
                    {% for field in form_search %}
                        <option value="{{ field.label }}">{{ field.label }}</option>
                    {% endfor %}
                </select>
            </span> 

            <!-- value设置默认值，保证搜索之后，输入的搜索数据依然存在 -->
            <input class="form-control" name="search_data" type="text"  placeholder="Search for ..." value="{{ search_result }}">
            
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
            
        </div>

    </form>
</div>