{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- 傻呗啊，不要引用错了 -->
    <!-- ! load静态引用，会导致调用样式不能自动弹出选择列表 -->
    <!-- <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}"> -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1-dist/css/bootstrap.css">

    <!-- 取消导航条默认圆角 -->
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>

</head>

<body>
    <!-- ! 导航栏 -->
    <nav class="navbar navbar-default">
        <div class="container">

            <!-- 左边导航栏 -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">联通用户管理系统</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/depart/list">部门管理</a></li>
                    <li><a href="/user/list">员工管理</a></li>
                    <li><a href="/prettynum/list">靓号管理</a></li>
                </ul>


                <!-- 右边导航栏 -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">登录</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">个人资料<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">gsf</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ! 内容部分 -->
    <div>
        {% block content %}{% endblock %}
    </div>

    <div class='container'>

        {% block page_sep %}{% endblock %}

        <div style="width: 300px;">
            <form method="get">
                <div class="input-group">
                    <!-- value设置默认值，保证搜索之后，输入的搜索数据依然存在 -->
                    <input name="page" type="text" class="form-control" placeholder="页码">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        
    </div>

    <!-- 引用js样式 -->
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
</body>

</html>